.login {
  background-color: rgba(0, 0, 0, 0.411);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .loginWrapper {
    width: 40%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 30px;
    padding: 30px 40px;
    flex-direction: column;

    .loginLevelOne {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .loginSignInTitle {
        font-size: 28px;
        font-weight: var(--fw-medium);
      }

      .loginCloseIcon {
        font-size: 36px;
        cursor: pointer;
      }
    }

    .loginLevelTwo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 20px;

      .loginLevelTwoLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        gap: 10px;

        .loginLevelTwoImg {
          width: 35px;
          height: 35px;
        }

        .loginLevelTwoHeader {
          font-weight: var(--fw-medium);
          font-size: 25px;
        }
      }

      .loginLevelTwoWelcome {
        font-size: 18px;
        font-weight: normal;
      }

      .loginLevelTwoSigin {
        margin-top: 5px;
        color: rgba(8, 15, 15, 0.75);
      }
    }

    .loginLevelThree {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 50px;
      gap: 20px;

      .loginLevelThreeInputItem {
        width: 100%;
        display: flex;
        background-color: var(--blue-white);
        border-radius: 13px;
        height: 45px;
        width: 80%;
        font-weight: 550;
        line-height: 1.5;
        padding: 0 10px;
        font-size: 15px;
        border: 1px solid rgba(10, 30, 50, 0.1);
        color: black;

        .loginLevelThreeInput {
          border: none;
          height: 100%;
          width: 100%;
          background-color: var(--blue-white);

          &:focus {
            outline: none;
          }
        }

        .loginShowIcon {
          color: rgb(163, 163, 163);
          cursor: pointer;
        }
      }
    }

    .loginLevelFour {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 30px;

      .forgetPasswordText {
        text-align: right;
        color: var(--main-color);
        font-size: 14px;
        cursor: pointer;
        line-height: 1.5;
        font-weight: 400;
        font-size: 16px;
        margin-left: auto;
        margin-right: 70px;
      }

      .loginBtn {
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
        border: none;
        background-color: var(--main-color);
        color: white;
        width: 80%;
        height: 45px;
        border-radius: 12px;
        cursor: pointer;
      }

      .registerText {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        .loginDontText {
        }

        .loginStartedText {
          color: var(--main-color);
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
