.register {
  background-color: rgba(0, 0, 0, 0.411);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .registerWrapper {
    width: 40%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 30px;
    padding: 25px 40px;
    flex-direction: column;

    .registerLevelOne {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .registerSignInTitle {
        font-size: 28px;
        font-weight: var(--fw-medium);
      }

      .registerCloseIcon {
        font-size: 36px;
        cursor: pointer;
      }
    }

    .registerLevelTwo {
      margin-top: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .registerLevelTwoLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        gap: 10px;

        .registerLevelTwoImg {
          width: 35px;
          height: 35px;
        }

        .registerLevelTwoHeader {
          font-weight: var(--fw-medium);
          font-size: 25px;
        }
      }

      .registerLevelTwoWelcome {
        font-size: 18px;
        font-weight: normal;
      }

      .registerLevelTwoSigin {
        margin-top: 5px;
        color: rgba(8, 15, 15, 0.75);
      }
    }

    .registerLevelThree {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 50px;
      gap: 20px;

      .inputError {
        color: red;
      }

      .registerLevelThreeInputItem {
        width: 100%;
        display: flex;
        background-color: var(--blue-white);
        border-radius: 13px;
        height: 45px;
        width: 80%;
        font-weight: 550;
        line-height: 1.5;
        padding: 0 10px;
        font-size: 15px;
        border: 1px solid rgba(10, 30, 50, 0.1);
        color: black;

        .registerLevelThreeInput {
          border: none;
          height: 100%;
          width: 100%;
          background-color: var(--blue-white);

          &:focus {
            outline: none;
          }
        }

        .registerShowIcon {
          color: rgb(163, 163, 163);
          cursor: pointer;
        }
      }
    }

    .registerLevelFour {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 30px;

      .forgetPasswordText {
        text-align: right;
        color: var(--main-color);
        font-size: 14px;
        cursor: pointer;
        line-height: 1.5;
        font-weight: 400;
        font-size: 16px;
        margin-left: auto;
        margin-right: 70px;
      }

      .registerBtn {
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
        border: none;
        background-color: var(--main-color);
        color: white;
        width: 80%;
        height: 45px;
        border-radius: 12px;
        cursor: pointer;
      }

      .registerText {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        .registerDontText {
        }

        .registerStartedText {
          color: var(--main-color);
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
