.interestsModal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1002;
  display: flex;
  align-items: center;
  justify-content: center;

  .interestsModalWrapper {
    position: fixed;
    padding: 40px 70px;
    background-color: white;
    border-radius: 20px;
    width: 30%;
    margin: auto;

    .interestsItems {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 10px 5px;

      .interestsItemSelected {
        padding: 10px 10px 10px 20px;
        background-color: var(--main-color);
        color: white;
        border-radius: 8px;
        width: auto;
        height: auto;
        cursor: pointer;
      }

      .interestsItem {
        padding: 10px 10px 10px 20px;
        background-color: var(--blue-white);
        border-radius: 8px;
        width: auto;
        height: auto;
        cursor: pointer;

        .interestsItemTitle {
          font-weight: var(--fw-medium);
        }

        &:hover {
          background-color: #f1d2b3;
        }
      }
    }

    .interestsModalButtons {
      margin-top: 15px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 10px;

      .interestsModalBtnCancel {
        border: none;
        border-radius: 5px;
        font-weight: var(--fw-medium);
        width: 100px;
        height: 35px;
        cursor: pointer;
        transition: 0.15s ease;
        color: white;
        background-color: rgba(8, 15, 15, 0.85);

        &:hover {
          background-color: rgba(37, 37, 37, 0.85);
        }
      }

      .passwordModalBtnSave {
        color: white;
        border: none;
        border-radius: 5px;
        background-color: var(--main-color);
        font-weight: var(--fw-medium);
        width: 100px;
        height: 35px;
        cursor: pointer;
        transition: 0.15s ease;

        &:hover {
          background-color: var(--hover-color);
        }
      }
    }
  }
}
